body {
  background-color: gray;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 800px;
  height: 500px;
  background-color: black;
  position: relative;
  border-radius: 5px;
}

.title {
  position: absolute;
  color: orangered;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  font-family: "Shippori Mincho", serif;
}

.leftSide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}

.result {
  position: absolute;
  top: 60%;
  left: 10%;
  color: orangered;
  font-size: 40px;
}

.result2 {
  position: absolute;
  top: 60%;
  right: 10%;
  color: orangered;
  font-size: 40px;
}

.rightSide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}

.changeSide {
  font-family: "Shippori Mincho", serif;
  background-color: transparent;
  border: none;
  outline: none;
}

.changeSide i {
  padding: 10px 30px;
  cursor: pointer;
  font-size: 30px;
  color: orangered;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.amount-one {
  font-size: 20px;
  width: 150px;
  outline: none;
}

.amount-two {
  font-size: 20px;
  width: 150px;
  outline: none;
}

#exchange {
  font-size: 22px;
  outline: none;
}

#exchange2 {
  font-size: 22px;
  outline: none;
}

.equals {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  color: orangered;
  font-size: 40px;
}
